.DS_Store
.settings
.project
.bin

config.codekit
.codekit-cache
*.codekit
min

/dist
/nwo
/atom
/gulpfile.js
/gulpfile_atom.js
sqlite*
tinymce_old
node_modules/
node_modules/request
node_modules/fs.extra
/updates
/old

/public/themes/**/*.css
/public/css/**/*.css
/dev/node_modules

/deploy.sh
/leanote-desktop-app*